<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <title>MetaCriticle</title>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' rel='stylesheet'>
        <link type="text/css" href="https://dhtiece9044ep.cloudfront.net/package/run_css/0987da3118408bb253b4a0f28e0f2f5a1c9e84e27ae14cd27bd4afeb23b4cd08/factle/live/index/xfalse/xfalse/run.css" rel="stylesheet">
    </head>
    <body>
        <nav class='navbar navbar-expand-md navbar-light bg-light border'>
            <a class='navbar-brand' href='/'><link rel="icon" type="image/png" href="../static/logo.png" /></a>
            <button aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation' class='navbar-toggler' data-target='#navbar' data-toggle='collapse' type='button'>
                <span class='navbar-toggler-icon'></span>
            </button>
        </nav>
    </body>
</html>