<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <title>MetaCriticle</title>
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' rel='stylesheet'>
        <link type="text/css" href="https://dhtiece9044ep.cloudfront.net/package/run_css/0987da3118408bb253b4a0f28e0f2f5a1c9e84e27ae14cd27bd4afeb23b4cd08/factle/live/index/xfalse/xfalse/run.css" rel="stylesheet">
    </head>
    <body>
        <nav class='navbar navbar-expand-md navbar-light bg-light border'>
            <a class='navbar-brand' href='/'><img src="/static/small_logo.png"></a>
            <button aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation' class='navbar-toggler' data-target='#navbar' data-toggle='collapse' type='button'>
                <span class='navbar-toggler-icon'></span>
            </button>
        </nav>

        {% for image in images %}
            <div class="bubble-r-box" style="height: 45px; left: 212px; width: 65px;">
                <div class="bubble-element Group" style="position: absolute; box-sizing: border-box; z-index: 17; height: 45px; width: 65px; left: 0px; top: 0px; background-color: rgb(129, 131, 132); border-radius: 2px;">
                <div class="bubble-r-line" style="margin-top: 0px; height: 45px;">
                    <div class="bubble-r-box" style="height: 45px; left: 0px; width: 65px;">
                        <div class="bubble-element Text clickable-element" style="position: absolute; box-sizing: border-box; z-index: 2; height: 45px; width: 65px; left: 0px; top: 0px; white-space: pre-wrap; overflow: visible; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: bold; color: rgb(255, 255, 255); text-align: center; line-height: 1; padding-top: 10px; border-radius: 0px; cursor: pointer; padding-bottom: 10px;" tabindex="23">
                            <div class="content"><img src={{ image }}></div>
                        </div>
                    </div>
                </div>
                </div>
            </div> 
        {% endfor %}
    </body>
</html>